<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Disquería de Vinilo</title>
<!-- bulma -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
<!-- Vue.js 3 monta aquí -->
    <div id="app">
    <header class="logo-contenedor">
        <img src="imagenes/vinilos-mar.png" alt="Vinilos Mar Logo" class="logo-img">
    </header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <strong>{{ titulo }}</strong>
                </a>
            </div>
        </nav>

        <section class="section">
        <div class="container">
            <div class="columns is-vcentered mb-5">
                <div class="column is-4">
                    <div class="field">
                        <div class="control">
                                <input class="input" type="text" placeholder="Buscar vinilo..." v-model="busqueda">
                         </div>
                    </div>
                </div>
             <div class="column">
                        <div class="buttons">
                            <button class="button is-link" @click="filtro = 'todos'">Todos</button>
                            <button class="button" @click="filtro = 'rock'">Rock</button>
                            <button class="button" @click="filtro = 'jazz'">Jazz</button>
                            <button class="button" @click="filtro = 'blues'">Blues</button>
                        </div>
                    </div>
                </div>

                <div v-if="cargando" class="has-text-centered my-6">
                    <button class="button is-loading is-large is-ghost">Cargando</button>
                    <p>Obteniendo discos...</p>
                </div>

                <div v-else class="columns is-multiline">
                    <div v-for="disco in discosFiltrados" :key="disco.id" class="column is-12-mobile is-6-tablet is-4-desktop">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img :src="disco.portada" alt="Portada del disco">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-5">{{ disco.album }}</p>
                                        <p class="subtitle is-6">{{ disco.artista }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <span class="tag is-info is-light">{{ disco.genero }}</span>
                                    <p class="has-text-weight-bold is-size-4 mt-3">${{ disco.precio }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

   <footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Disquería de Vinilo</strong> 2026. Mar Díaz León. Proyecto Taller de Aplicaciones para Internet.
        </p>
    </div>
</footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/app.js"></script>
</body>
</html>